// Specific CSS for your home-page

.unbooked:hover {
  cursor: pointer;
}

.hour {
  height: 60px;
  border-top: solid 1px $black;
  border-bottom: solid 1px $black;
}

.table-header {
  height: 44px;
}

.work-order-container {
  overflow: hidden;
  border: solid 1px $black;
}

.start {
  border-top: solid 1px $black;
}

.work-order {
  overflow: hidden;
  background-color: $white;
}

.table-content {
  height: 660px;
  overflow: hidden;
}

.table-body-col {
  border-right: solid 1px $black;
  border-left: solid 1px $black;
  overflow: hidden;
}

.end {
  border-bottom: solid 1px $black;
}

.modal-content {
  padding: 32px;
}

