<!-- <div class="container">
  <div class="row">
    <span><h1>Appointments on Date</h1></span>
  </div>
  <div class="row">
    <% @technicians.each do |tech|  %>
      <div class="col">
        <h2><%= tech.name%></h2>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @technicians.each do |tech| %>
      <div class="col">
        <% tech.time_slots.sort.each do |time_slot| %>
          <div class="row">
            <p><%= time_slot.start_time %></p>
            <% if time_slot.is_booked? %>
              <div class="container">
                <p>time slot booked</p>
                <p><%= time_slot.duration %></p>
                  <%= render template: 'work_orders/show', workorder: time_slot.work_order_id  %>

              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
 -->
