<% wo = WorkOrder.find(workorder) %>
<div class="container work-order">
  <div class="row">
    <div class="col">
      <span><%= wo.start_time.strftime('%H:%M') %></span>
    </div>
    <div class="col">
      <span>$<%= wo.price %></span>
    </div>
  </div>
  <span><%= wo.location.name %> - <%= wo.location.city %></span>
</div>
