<!-- <% @workorders.each do |wo| %>
  <p> <%= wo.technician.name %> </p>
<% end %> -->
<table>
  <thead>
    DATE of this TABLE
  </thead>
  <tr>
    <% @technicians.each do |tech|  %>
      <th> <%= tech.name%></th>
    <% end %>
  </tr>
   <% @technicians.each do |t| %>
   <th>
    <% t.work_orders.each do |workorder| %>
      <%= render 'workorder', workorder: workorder %>

    <% end %>
  </th>
  <% end %>

  <tr>

  </tr>

</table>


