
<table>
  <thead>
    DATE of this TABLE
  </thead>
  <tr>
    <% @technicians.each do |tech|  %>
      <th> <%= tech.name%></th>
    <% end %>
  </tr>
   <% @technicians.each do |t| %>
   <th>
    <div class="container">

    <% t.time_slots.each do |timeslot| %>
      <%= timeslot.duration %>

    <% end %>
    </div>
  </th>
  <% end %>

  <tr>

  </tr>

</table>


